<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
  function pushClassData(textList)
{
    a = document.createElement("DIV");
    a.innerHTML = '<div class="result">' +
        '<div class="subject">textList[0][6]</div>' +
        '<div class="nameTime">textList[0][13] textList[0][14]</div> ' +
        '<div class="detail">textList[0][0]학년 textList[0][3] textList[0][8]학점 textList[0][13]</div>'+
        '</div>';
    document.getElementById("resultBox").appendChild(a)
}

function a(){
      pushClassData(textList)
}
textList = [['0', '교양과(서울)', '예술학과', '교선', '예술과디자인', '002056-1', '미술의이해\n(COMPREHENSION OF ART)', 'C506', '3', '10/20/30/40/50', '55', '20', '비공학', '전영백', '화789', '미술대 수강불가/강의요원 여서영 ', '공통교양\n(서울)', '예술과디자인'], ['0', '교양과(서울)', '예술학과', '교선', '예술과디자인', '002056-2', '미술의이해\n(COMPREHENSION OF ART)', 'C807', '3', '10/20/30/40/50', '47', '20', '공학', '손수연', '화789', '미술대 수강불가 ', '공통교양\n(서울)', '예술과디자인']]
</script>
</html>