/*
폰트 설정
*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
   font-family: 'S-CoreDream-3Light';
}


/*.btn {
    background-color: #439771;
    border: none;
    width: 100px;
    height: 75px;
    border-radius: 4px;
    position: relative;
    right: 120px;
}
    .btn i{
    color: white;
    font-size: 80px;
}*/
select {
    font-size: 25px;
    font-weight: bold;

    border-radius: 3px
}

input {
    background-color: rgb(243, 233, 170);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}


table {
    border-collapse: collapse;
}

/*이중선 제거*/
/*th, td {*/
/*    width: 90px;*/
/*    height: 53px;*/
/*    text-align: center;*/
/*    */

/*    vertical-align: top; !* 위 *!*/
/*    vertical-align: bottom; !* 아래 *!*/
/*    vertical-align: middle; !* 가운데 *!*/
/*}*/

#myTimeTable{
    background-color: white;
    width: 100%;
    table-layout: fixed;
    height: 90%;
    background-color: white;
    text-align: center;
    font-size: xx-small;
}

#myTimeTable > tr > th, td{
     width: 12.5%;
     height: 50px;
     /*text-align: center;*/
     border: 1px solid rgb(243, 233, 170);
    font-size: smaller;
    position: relative;
}

#myTimeTable > tr > th {
    font-size: 25px
}

.timeTableListElement > tr > th, td{
    width: 12.5%;
     height: 11%;
     /*text-align: center;*/
     border: 1px solid rgb(243, 233, 170);
    font-size: smaller;
    position: relative;
}
.timeTableListElement{
    width: 100%;
    height: 100%;
}

.myTimeTable_time {
    font-size: large;
    vertical-align: auto;
}


#possibleTimeTable {
    width: 100%;
    /*height: 20px; 여기서 전체 div에 적용되어서 이상해짐*/

    border: 1px solid rgb(243, 233, 170);
    text-align: left;
    float: left;
    height: 25%;
    border: solid 1px lightgray;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 1%;

}

/*div.left {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    float: left;*/
/*    box-sizing: border-box;*/

/*    background-color: rgb(243, 233, 170);*/

/*}*/

/*div.right {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    float: right;*/
/*    box-sizing: border-box;*/

/*   background: #FFFFFF;*/
/*}*/

#myTimeTable_demo {
    text-align: left;
    font-size: 40px;
}

#created_Timetable {
    text-align: left;
    font-size: 20px;
    float: left;
}


#basicBox {
    border-radius: 10px;

    height: 90vh;
    margin: 2%;
    background-color: #E7CEA6;
}

#leftBox {
    width: 65%;
    margin: 1%;
    overflow-y: auto;
}

#rightBox {
    width: 35%;
    background-color: white;
    margin: 1%;
    margin-left: 0;
    border-radius: 10px;
    padding: 1%;
}


/*
slide박스(다중 슬라이드 박스) css
 */

/*위치 초기화*/
/** {
    margin: 0;
    padding: 0;
}*/
list{list-style:none;}

.slide_wrapper {
    position: relative;
    width: 670px; /*(110*6 + 10*5) 590 */
    margin: 0 auto; /*가운데*/
    height: 110px;
   overflow:hidden;
}

.slides{
    position: absolute;
    left:0; top:0;
    width: 950px; /*(110*8 + 10*7)*/
}
.slides li:not(:last-child){
    float:left;
    margin-right: 10px;
}

.controls span{
    position: absolute;
    background-color: #333;
    color: #fff;
    padding:10px 20px; /*네모 크기*/
    margin:0 10px;
    top:50%;
    transform:translateY(-50%);
}



     /*body {*/
     /*       background: #eee;*/
     /*       font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
     /*       font-size: 14px;*/
     /*       color:#000;*/
     /*       margin: 0;*/
     /*       padding: 0;*/
     /*   }*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


element.style {
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom : 0px;
}



