

.classbox{
  flex-direction: column;
  border-radius : .25rem;
  float: left;
  width: 48%;
  height: 30%;
  margin: 2.7px;
  background-color: #9FA8DA;
  text-align: center;
}

#makingTimeTableBox {
  border-radius: 10px;

  height: 75vh;
  margin: 5%;
  background-color: rgb(243, 233, 170);
}
#makingTimeTableBox_InnerTimeTable{

  margin: 1%;
  overflow-y:scroll;
}

#makingTimeTableBox_SearchBox{
  background-color: white;
  margin: 1%;
  margin-left: 0;
  border-radius: 10px;
  padding: 1%;
}

#textSearchBox > div {
  display:inline-block;
  height: 10%;
}

#searchButton {
  background-color: rgb(243, 156, 18);
  color: white;
}

#resultBox{
  border: solid lightgray 1px;
  height: 80%;
}


.btnWrap {
display: flex;
justify-content: center;
align-items: center;
}

.original {
display: inline-block;  
vertical-align: middle;
box-sizing: border-box;
border-radius: 6px;
margin-bottom:30px;
padding: 10px;
width: 400px;
background-color: #FFFFFF;
overflow: hidden; //original끼리 서로 영역 침범 하지 않도록 영역 지정
}
.preset {
margin-top: 10px;
padding: 10px;
text-align: inline-block;
}
#btn{
background-color: #6A24FE;
}