@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


* {
    font-family: 'S-CoreDream-3Light';
}


a{
    color:#439771;
    text-decoration: none;}



/*input{
    background-color: #439771;
    border: none;
    width: 80px;
    height: 45px;
    border-radius: 4px;
    font-size: 23px;
    font-weight: bold;s
    color: white;
}*/


#myTimeTable{ border-collapse : collapse; }  /*이중선 제거*/

/*테이블 안에 th td 기본 속성지정*/
#myTimeTable > tr > th, td{
     width: 70px;
     height: 50px;
     text-align: center;
     border: 1px solid #439771;
   }
#myTimeTable > th{
    width: 70px;
     height: 50px;
     text-align: center;
     border: 1px solid #439771;
}


.myTimeTable_time
{
    font-size: large;
}

#basicTimeTable{ color:red }