/*
폰트 설정
*/
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}



a{
    color:#439771;
    text-decoration: none;}



#basicBox {
  border-radius: 10px;

  height: 80vh;
  margin: 2%;
  background-color: #E7CEA6;
}
#leftBox{
    width: 75%;
    margin: 1%;
    overflow-y:auto;
}
#rightBox{
    background-color: white;
    width: 25%;
    margin: 1%;
    margin-left: 0;
    border-radius: 10px;
    padding: 1%;
}


#rightBox1{
    width: 50%;
    display: none;
    background-color: white;
    margin: 1%;
    margin-left: 0;
    border-radius: 10px;
    padding: 1%;
}


#btn{
    background-color: #0A6EBD;
    border: none;
    border-radius: 4px;
}
#btn:hover{
  color: black;
}

#btn:after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

#btn:hover:after {
  height: 100%;
/*background-color: #6A24FE;*/
background-color: #A1C2F1;
}


/*자동완성*/
.autocomplete {
    position: relative;
    display: inline-block;
    color: black;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 11;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 180px;
    overflow: auto;
    overflow-x: hidden;
}

.autocomplete-items div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


/*오른쪽박스*/
#textSearchBox > div {
  display:inline-block;
  height: 10%;
}

.searchButton {
  background-color: #0A6EBD; /*버튼색*/
  color: white;
}

#resultBox{
  border: solid lightgray 1px;
  height: 80%;
  overflow-y: auto;
}

/*resultBox의 수업 div*/
/*.result{*/
/*  border: solid lightgray 1px;*/
/*    background-color: white;*/
/*}*/

/*.result:hover{*/
/*    background-color: silver;*/
/*}*/

/*시간표*/
#myTimeTable{
    border-collapse : collapse;
    background-color: white;
    width: 100%;

}  /*이중선 제거*/

/*테이블 안에 th td 기본 속성지정*/
#myTimeTable > tr > th, td{
     width: 12.5%;
     height: 50px;
     text-align: center;
     border: 1px solid #439771;
}
#myTimeTable > th{
    width: 12.5%;
     height: 50px;
     text-align: center;
     border: 1px solid #439771;
}


.myTimeTable_time
{
    font-size: large;
}

#basicTimeTableButton{ color:red }

#selectedTimeTable{
    border: solid lightgray 1px;
    width: 100%;
    height: 20%;
}



