/*
폰트 설정
*/
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
* {
    font-family: 'S-CoreDream-3Light';
    background : white;
}


a{
    color:#439771;
    text-decoration: none;}



#basicBox {
  border-radius: 10px;

  height: 80vh;
  margin: 2%;
  background-color: #E7CEA6;
}
#leftBox{

    margin: 1%;
    overflow-y:auto;
}
#rightBox{
  background-color: white;
  margin: 1%;
  margin-left: 0;
  border-radius: 10px;
  padding: 1%;
}

#myTimeTable{
    border-collapse : collapse;
    background-color: white;
    width: 100%;

}  /*이중선 제거*/

/*테이블 안에 th td 기본 속성지정*/
#myTimeTable > tr > th, td{
     width: 12.5%;
     height: 50px;
     text-align: center;
     border: 1px solid #439771;
}
#myTimeTable > th{
    width: 12.5%;
     height: 50px;
     text-align: center;
     border: 1px solid #439771;
}


.myTimeTable_time
{
    font-size: large;
}

#basicTimeTableButton{ color:red }

#selectedTimeTable{
    border: solid lightgray 1px;
    width: 100%;
    height: 20%;
}

